.max-height-small-enter {
    max-height: 0;
}

.max-height-small-enter-active {
    max-height: 20rem;
    transition: all 600ms ease;
}

.max-height-small-exit {
    max-height: 20rem;
}

.max-height-small-exit-active {
    max-height: 0;
    transition: all 600ms ease;
}

.sidebar-panel-enter {
    max-height: 0;
    opacity: 0
}

.sidebar-panel-enter-active {
    max-height: 20rem;
    opacity: 1;
    transition: all 600ms ease;
}

.sidebar-panel-exit {
    max-height: 20rem;
    opacity: 1;
}

.sidebar-panel-exit-active {
    opacity: 0;
    max-height: 0;
    transition: all 600ms ease;
}

.opacity-enter {
    opacity: 0;
}

.opacity-enter-active {
    opacity: 1;
    transition: all 600ms ease;
}

.opacity-exit {
    opacity: 1;
}

.opacity-exit-active {
    opacity: 0;
    transition: all 600ms ease;
}