.max-height-small-enter {
    max-height: 0;
    opacity: 0;
}

.max-height-small-enter-active {
    opacity: 1;
    max-height: 10rem;
    transition: all 600ms ease;
}

.max-height-small-exit {
    opacity: 1;
    max-height: 10rem;
}

.max-height-small-exit-active {
    opacity: 0;
    max-height: 0;
    transition: all 600ms ease;
}

.max-height-medium-enter {
    max-height: 0;
    opacity: 0;
}

.max-height-medium-enter-active {
    opacity: 1;
    max-height: 48rem;
    transition: all 600ms ease;
}

.max-height-medium-exit {
    opacity: 1;
    max-height: 48rem;
}

.max-height-medium-exit-active {
    opacity: 0;
    max-height: 0;
    transition: all 600ms ease;
}

.sidebar-panel-enter {
    max-height: 0;
    opacity: 0
}

.sidebar-panel-enter-active {
    max-height: 100rem;
    opacity: 1;
    transition: all 600ms ease;
}

.sidebar-panel-exit {
    max-height: 100rem;
    opacity: 1;
}

.sidebar-panel-exit-active {
    opacity: 0;
    max-height: 0;
    transition: all 600ms ease;
}

.opacity-enter {
    opacity: 0;
}

.opacity-enter-active {
    opacity: 1;
    transition: all 600ms ease;
}

.opacity-exit {
    opacity: 1;
}

.opacity-exit-active {
    opacity: 0;
    transition: all 600ms ease;
}